.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 14.5px 24px;

  background: linear-gradient(180deg, rgba(221, 118, 118, 0.25) 281.59%, rgba(4, 1, 22, 0) 365.62%);
  mix-blend-mode: normal;
  backdrop-filter: blur(35px);

  border: 1px solid;
  border-color: #592f46;
  border-radius: 12px;

  cursor: not-allowed;
}

.text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #9c8e96;
}

