.container {
  padding: 0px;
  background-color: rgba(255, 0, 0, 0.3); /* debugging */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.content {
  flex-grow: 2;
  min-height: 374px; 
  background-color: rgba(0, 255, 0, 0.2); /* debugging */
}

@media screen and (max-width: 599px) {
  .container {
    width: 428px;
    margin-left: calc(50% - 428px/2);
  }
} 

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .container {
    width: 600px;
    margin-left: calc(50% - 600px/2);
  }
} 

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .container {
    width: 1024px;
    margin-left: calc(50% - 1024px/2);
  }
} 

@media screen and (min-width: 1440px) and (max-width: 1999px) {
  .container {
    width: 1440px;
    margin-left: calc(50% - 1440px/2);
  }
} 

@media screen and (min-width: 2000px) {
  .container {
    width: 2000px;
    margin-left: calc(50% - 2000px/2);
  }
} 

