.div {
  background-color: red !important;;
}

.datePicker {
  color: blue !important;
  width: 100%;
}

.datePicker .MuiFormControl-root {
  width: 33px;
  border-width: 15px;
  background-color: red;
  background-color: red !important;;
}

